In [1]:
import numpy as np
import pandas as pd
from tqdm.auto import tqdm

In [2]:
train = pd.read_parquet('./data/player_starts_train.parquet').sort_values('date')
train

,date,user_id,item_id,watch_time,is_autorized
1527749,2023-07-21 00:00:00+03:00,user_19898812,video_486615,34,0
1390939,2023-07-21 00:00:00+03:00,user_17676945,video_1448534,2,0
889025,2023-07-21 00:00:00+03:00,user_6623636,video_1099511,192,0
1412905,2023-07-21 00:00:00+03:00,user_7117207,video_2254837,3014,0
1224980,2023-07-21 00:00:00+03:00,user_13848737,video_1482726,22,0
...,...,...,...,...,...
69306170,2023-08-21 23:59:59+03:00,user_16859213,video_2025319,-1,0
69399923,2023-08-21 23:59:59+03:00,user_22953064,video_283933,-1,0
68750086,2023-08-21 23:59:59+03:00,user_27253715,video_451750,-1,0
68794261,2023-08-21 23:59:59+03:00,user_25150497,video_2237701,0,0
69638075,2023-08-21 23:59:59+03:00,user_19946374,video_237591,-1,0

In [3]:
counts = train.user_id.value_counts()
counts

user_22854249    63806
user_8021211     63258
user_19126412    37993
user_11171041    36718
user_25284854    31958
                 ...
user_18381395        1
user_17891466        1
user_22786578        1
user_25924824        1
user_25150497        1
Name: user_id, Length: 28800762, dtype: int64

In [4]:
np.mean(counts)

2.428907262939779

In [5]:
users_to_drop = counts[counts<=6].index

In [6]:
data = {}

In [7]:
for user_id, item_id in tqdm(zip(train.user_id, train.item_id), total=len(train)):
    if user_id in users_to_drop:
        continue
    if user_id not in data:
        data[user_id] = []
    data[user_id].append(item_id)

  0%|          | 0/69954380 [00:00<?, ?it/s]

In [8]:
ids = []
with open('./data/train', 'w') as f:
    for user_id, line in data.items():
        ids.append(user_id)
        for value in line[-256:]:
            f.write(value.split('_')[1])
            f.write(' ')
        f.write('\n')
np.save('./data/train_user_ids.npy', ids)

In [2]:
videos_data = pd.read_parquet('./data/videos.parquet')
videos_data

,item_id,video_title,author_title,tv_title,season,video_description,category_title,publicated,duration,channel_sub,tv_sub,ctr.CTR_10days_21_07,ctr.CTR_10days_01_08,ctr.CTR_10days_10_08,ctr.CTR_10days_21_08
0,video_165654,MSI Pro MP241X недоОБЗОР (РЕШЕНИЕ ПРОБЛЕМЫ С М...,Silvi,None,0,В видео я обывательским взглядом расскажу про ...,Технологии и интернет,2022-12-08 13:53:05+03:00,391382,0,0,NaN,0.0,0.000000,NaN
1,video_1173704,Наложение пястно фаланговой повязки на кисть,"УЦ ""Академия Безопасности""",None,0,Видео с канала УЦ Академия безопасности (ab-dp...,Образование,2022-03-24 09:19:15+03:00,125922,26,0,NaN,0.0,0.000000,0.00
2,video_23927,SilverstoneF1 Sochi Pro и Neoline x cop 6000s ...,Artur48,None,0,SilverstoneF1 Sochi Pro и Neoline x cop 6000s ...,Авто-мото,2022-03-19 17:41:49+03:00,436570,2,0,NaN,NaN,0.000000,0.00
3,video_1003780,БОЛЬНИЦА в Brookhaven! ДОКТОР ПУПКИН спас ЖЕНИ...,ПАПА ДОЧКИ Games,None,0,Играем в Роблокс (Roblox) - БОЛЬНИЦА в Brookha...,Детям,2021-02-20 11:50:53+03:00,719377,673,0,0.0,1.0,0.000000,0.00
4,video_105383,"Вебинар ""Особенности трудоустройства граждан Б...","ЗАО ""Сплайн-Центр""",None,0,"10.08.2023 Вебинар ""Особенности трудоустройств...",Бизнес и предпринимательство,2023-08-11 09:02:07+03:00,3834404,19,0,0.0,0.0,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320655,video_839160,Любимцы: Гена в памперсе бегает по клинике,Любимцы,Любимцы,1,None,Сериалы,2017-09-11 22:00:13+03:00,23290,0,0,NaN,0.0,0.333333,0.25
2320656,video_2134427,"Телеканал «СПАС», «Главное», интервью С. В. Ст...",Фонд развития территорий,None,0,None,Интервью,2022-03-28 11:19:33+03:00,1548792,57,0,0.0,0.0,0.000000,0.00
2320657,video_1453482,Взятие 3 отметок на ИС 7,CeperA_TyLyH,None,0,None,Видеоигры,2022-09-10 20:05:17+03:00,520001,12,0,NaN,NaN,NaN,NaN
2320658,video_2225207,Простой и вкусный рецепт пирога с грушами и сы...,Комедийные Шоу и Скетчи ❤,None,0,None,Разное,2023-07-06 12:16:29+03:00,8267,9,0,0.0,0.0,0.000000,0.00
2320659,video_2242378,ДОМ-2 Live 1570 день,Дом-2,Дом 2. Live,7,None,Телепередачи,2016-10-21 15:27:59+03:00,4192046,152974,33420,NaN,NaN,NaN,1.00

In [16]:
dict_item_to_author = videos_data[['item_id', 'author_title']].copy()
dict_item_to_author

               item_id                author_title
0         video_165654                       Silvi
1        video_1173704  УЦ "Академия Безопасности"
2          video_23927                     Artur48
3        video_1003780            ПАПА ДОЧКИ Games
4         video_105383          ЗАО "Сплайн-Центр"
...                ...                         ...
2320655   video_839160                     Любимцы
2320656  video_2134427    Фонд развития территорий
2320657  video_1453482                CeperA_TyLyH
2320658  video_2225207   Комедийные Шоу и Скетчи ❤
2320659  video_2242378                       Дом-2

[2320660 rows x 2 columns]

In [17]:
print(dict_item_to_author['author_title'].nunique())
dict_item_to_author['author_title'] = dict_item_to_author['author_title'].apply(lambda x: x.lower().strip())
print(dict_item_to_author['author_title'].nunique())

181628
179428

In [21]:
dict_item_to_author['author_title'] = dict_item_to_author['author_title'].astype('category').cat.codes

In [23]:
dict_item_to_author['item_id'] = dict_item_to_author['item_id'].apply(lambda x: x.split('_')[1])

In [24]:
dict_item_to_author

         item_id  author_title
0         165654         80171
1        1173704        170840
2          23927          8517
3        1003780        149551
4         105383        122170
...          ...           ...
2320655   839160        134412
2320656  2134427        172276
2320657  1453482         13392
2320658  2225207        129495
2320659  2242378        118350

[2320660 rows x 2 columns]

In [25]:
dict_item_to_author.to_csv('./data/item_authors.csv')

In [3]:
dict_item_to_category = videos_data[['item_id', 'category_title']].copy()
dict_item_to_category

               item_id                category_title
0         video_165654         Технологии и интернет
1        video_1173704                   Образование
2          video_23927                     Авто-мото
3        video_1003780                         Детям
4         video_105383  Бизнес и предпринимательство
...                ...                           ...
2320655   video_839160                       Сериалы
2320656  video_2134427                      Интервью
2320657  video_1453482                     Видеоигры
2320658  video_2225207                        Разное
2320659  video_2242378                  Телепередачи

[2320660 rows x 2 columns]

In [4]:
print(dict_item_to_category['category_title'].nunique())
dict_item_to_category['category_title'] = dict_item_to_category['category_title'].apply(lambda x: x.lower().strip())
print(dict_item_to_category['category_title'].nunique())

46
46

In [5]:
dict_item_to_category['category_title'] = dict_item_to_category['category_title'].astype('category').cat.codes

In [6]:
dict_item_to_category['item_id'] = dict_item_to_category['item_id'].apply(lambda x: x.split('_')[1])

In [7]:
dict_item_to_category

         item_id  category_title
0         165654              41
1        1173704              26
2          23927               0
3        1003780               8
4         105383               4
...          ...             ...
2320655   839160              35
2320656  2134427              12
2320657  1453482               6
2320658  2225207              33
2320659  2242378              39

[2320660 rows x 2 columns]

In [8]:
dict_item_to_category.to_csv('./data/item_categories.csv')